# Ignore Vim Swap Files
*.swp
*.swo

Tutorial*/

# Ignore Vivado
*.pb
*.jou
*.sh
*.log
*.bat
*.js
*.vds
*.rpt
*.tcl
*.txt
*.xml
*__
*.rst
*.wdf
*.rpx
*.vdi
*.wpc
*.lpr
*.bit
*.rlx
*.ini
*.vdb
*.exe
*.xdbg
*.type
*svtype
*.reloc
*.mem
*.rtti
*.dbg
*.obj
*.c
*.wdb
*.prj
*.bin
*.db